<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav>

    <h2>🚀 FuturePing AI</h2>

    <ul>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/opportunities">Opportunities</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>

</nav>

<div class="profile-card">

    <h2>👤 Student Profile</h2>

    <p><strong>Name :</strong> {{ user[1] }}</p>

    <p><strong>Email :</strong> {{ user[2] }}</p>

    <p><strong>Branch :</strong> {{ user[4] }}</p>

    <p><strong>Career Goal :</strong> {{ user[5] }}</p>

    <a href="/dashboard">
        <button>⬅ Back to Dashboard</button>
    </a>

</div>

</body>
</html>