<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - FuturePing AI</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <h1>Student Registration</h1>

    <form method="POST" action="/register">

        <input
            type="text"
            name="fullname"
            placeholder="Full Name"
            required>

        <input
            type="email"
            name="email"
            placeholder="Email Address"
            required>

        <input
            type="password"
            name="password"
            placeholder="Password"
            required>

        <input
            type="text"
            name="branch"
            placeholder="Branch (Example: Data Science)"
            required>

        <input
            type="text"
            name="career"
            placeholder="Career Goal"
            required>

        <button type="submit">
            Register
        </button>

    </form>

    <br>

    <p>
        Already have an account?
        <a href="/login">Login Here</a>
    </p>

</div>

</body>
</html>